@font-face {
  src: url(../font/SquareSansB.ttf);
  font-family: "square";
}
* {
  box-sizing: border-box;
}
body {
  font-family: "square", "SpoqaHanSans";
  margin: 0;
  background-color: black;
}

@keyframes map_show {
  from {
    opacity: 0;
    transform: translateY(20px) scale(1.03);
  }
  to {
    opacity: 1;
  }
}

@keyframes acc_show {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
  }
}

.map {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  animation: map_show 0.6s backwards;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  width: 64vw;
  display: flex;
  justify-content: space-between;
}

.table_wrap_0 {
  width: 64vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.table_wrap_1 {
  width: 10vw;
  display: flex;
  align-items: center;
}

.table_wrap_2 {
  width: 45vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.line_60_1 {
  width: 10vw;
  height: 18.8vh;
  display: flex;
  flex-direction: column;
}

.line_60_2 {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 20vw;
  display: inline-block;
}

.seat {
  position: relative;
  float: left;
  width: 10vw;
  height: 9.4vh;
  padding: 10px;
  border: solid 1px #7a7a7a;
  color: #ffffff;
}

.blank {
  float: left;
  width: 10vw;
  height: 9.4vh;
}

.seat h1 {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 19px;
}

.seat p {
  font-size: 12px;
  margin: 0;
  opacity: 0.6;
  font-family: "SpoqaHanSans";
}

.img {
  z-index: -1;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  transform: scale(1.05);
}

.side {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.tab {
  margin-left: 32px;
}

.tab a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

#divider {
  width: 48px;
  height: 4px;
  margin: 24px 0;
  background-color: #ffffff;
}

.sns {
  display: inline-block;
  position: absolute;
  bottom: 6px;
}

.sns a {
  margin-right: 1px;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.87;
  color: #ffffff;
}

.department {
  z-index: 2;
  position: fixed;
  bottom: 8vh;
  margin-left: 32px;
}

.department p {
  font-size: 12px;
  margin: 12px;
}

.part-e {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 14px;
  font-family: "square";
  color: #12c4ab;
}

.part-biz {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 14px;
  font-family: "square";
  color: #ff3636;
}

.part-sm {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 14px;
  font-family: "square";
  color: #e8c703;
}

.part-d {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 14px;
  font-family: "square";
  color: #9e39f6;
}

.part-m {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  right: 10px;
  font-size: 14px;
  font-family: "square";
  color: #0088e3;
}

.acc {
  animation: acc_show 0.6s backwards;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  width: auto;
  position: absolute;
  top: 14vh;
  right: 6vw;
  display: flex;
  flex-direction: column;
}

.acc img {
  margin-bottom: 80px;
  opacity: 0.6;
}

.ri-arrow-down-line {
  line-height: 34px;
  display: inline-block;
  vertical-align: middle;
}

.acc video {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
}

.entrance:hover video {
  opacity: 0.4;
}

.snackbar:hover video {
  opacity: 0.2;
}
.seat:hover {
  z-index: 2;
  color: #333333;
  background-color: #ffffff;
}

.seat:hover .sns a {
  color: #333333;
}

.seat:hover ~ .img {
  z-index: 1;
  opacity: 1;
  transition: 0.5s;
  transform: scale(1);
}

.menu {
  z-index: 2;
  position: fixed;
  top: 4vh;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.menu a {
  font-size: 24px;
  margin-bottom: 16px;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}

.menu a:hover {
  opacity: 1;
  transition: 0.5s;
  letter-spacing: 6px;
}

@media (min-width: 1930px) {
  .seat {
    padding: 12px;
  }
  .seat h1 {
    font-size: 28px;
    margin-bottom: 4px;
  }
  .seat p {
    font-size: 16px;
  }

  .sns a {
    margin-right: 4px;
    font-size: 22px;
  }
  .part-e {
    bottom: 8px;
    font-size: 20px;
  }
  .part-biz {
    bottom: 8px;
    font-size: 20px;
  }

  .part-sm {
    bottom: 8px;
    font-size: 18px;
  }

  .part-d {
    bottom: 8px;
    font-size: 18px;
  }

  .part-m {
    bottom: 8px;
    font-size: 18px;
  }

  .department p {
    font-size: 14px;
    margin: 12px;
  }

  .acc {
    top: 14vh;
    right: 6vw;
  }
}
